@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bike Shop Database</h1>
    <h2>Here you can carry out various types of administration activities on the database</h2>
    <p>You can create new orders, customers, staff and stock as needed</p>
    <p>You can also edit or delete existing orders, customers, staff and stock in the database.</p>
    <p>Please use the above navbar to perform the various admin tasks</p>
</div>
