@page
@model BikeSparePartsShop.Areas.Identity.Pages.RolesManager.IndexModel
@{
    ViewData["Title"] = "Roles and their Users";
}
<a asp-page="/RolesManager/Create">Create a New Role </a>
<hr />
<a asp-page="/RolesManager/Assign">Assign Role </a>
<hr />
@if (Model.Roles.Any())
{
    <h5>List of All Roles</h5>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-primary">
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Name</td>
                </tr>
            }
        </table>
    </div>
    <h5>List of Users and their Roles</h5>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-dark">
            @foreach (var result in Model.UserAndRoles)
            {
                <tr>
                    <td>@result.UserName</td>
                    <td>@result.RoleName</td>
                </tr>
            }
        </table>
    </div>

}
